<ng-container *transloco="let t">
    <section class="h-[calc(100vh)] bg-slate-100">
        <div class="md:container md:mx-auto pt-38 px-4">
            <div class="grid justify-center">
                <div class="sm:w-[500px]">
                    <Form method="post" class="w-full sm:w-[500px]" id="sign-up">
                        <div>
                            <label htmlFor="" class="">
                                Your email
                            </label>
                            <input id="email" type="email" name="email"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <div class="mt-4">
                            <label htmlFor="" class="">
                                Your unique username
                            </label>
                            <input id="username" type="text" name="username"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <div class="mt-4">
                            <label htmlFor="" class="">
                                Your public name
                            </label>
                            <input id="name" type="text" name="name"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <div class="mt-4">
                            <label htmlFor="" class="">
                                Your password
                            </label>
                            <input id="password" type="password" name="password"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <div class="mt-4">
                            <label htmlFor="" class="">
                                Confirm your password
                            </label>
                            <input id="password_confirmation" type="password" name="password_confirmation"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <button
                        class="text-center border rounded-full px-4 py-2 mt-4 text-sm font-medium text-white bg-[#1e293b]">
                            Sign up
                        </button>
                    </Form>
                </div>
            </div>
        </div>
    </section>
</ng-container>