<ng-container *transloco="let t">
    <section class="h-[calc(100vh)] bg-slate-100">
        <div class="md:container md:mx-auto pt-38 px-4">
            <div class="grid justify-center">
                <div class="sm:w-[500px]">
                    <Form method="post" class="w-full sm:w-[500px]" id="sign-up">
                        <div>
                            <label htmlFor="" class="">
                                {{ t('pages.sign-up.email') }}
                            </label>
                            <input id="email" type="email" name="email"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <div class="mt-4">
                            <label htmlFor="" class="">
                                {{ t('pages.sign-up.password') }}
                            </label>
                            <input id="password" type="password" name="password"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <div class="mt-4">
                            <label htmlFor="" class="">
                                {{ t('pages.sign-up.confirm-password') }}
                            </label>
                            <input id="password_confirmation" type="password" name="password_confirmation"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <button
                        class="cursor-pointer text-center border rounded-full px-4 py-2 mt-4 text-sm font-medium text-white bg-[#1e293b]">
                        {{ t('pages.sign-up.sign-up') }}
                        </button>
                    </Form>
                </div>
            </div>
        </div>
    </section>
</ng-container>