<ng-container *transloco="let t">
    <section class="h-[calc(100vh)] bg-slate-100">
        <div class="md:container md:mx-auto pt-38 px-4">
            <div class="grid justify-center">
                <div class="sm:w-[500px]">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full sm:w-[500px]" id="sign-in">
                        <div>
                            <label htmlFor="" class="">
                                {{ t('pages.sign-in.email') }}
                            </label>
                            <input id="email" type="email" formControlName="email"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <div class="mt-4">
                            <label htmlFor="" class="">
                                {{ t('pages.sign-in.password') }}
                            </label>
                            <input id="password" type="password" formControlName="password"
                            class="p-3 w-full border border-slate-800 rounded-lg bg-white">
                        </div>
                        <button
                        class="cursor-pointer text-center border rounded-full px-4 py-2 mt-4 text-sm font-medium text-white bg-[#1e293b]">
                        {{ t('pages.sign-in.sign-in') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</ng-container>